.roboto-bold {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    border: 0;
}
body {
    width: 1440px;
    height: 3744px;
    background-color: #f9f8fe;
}
.group53578 {
    width: 1440px;
    height: 875px;
    /* border: 2px solid rgb(255, 99, 99); */
    /* BORDA HEADER */
}
.group53577 {
    width: 1440px;
    height: 192px;
}
.group53576 {
    width: 993px;
    height: 129px;
    margin-top: 34px;
    margin-left: 100px;
    display: flex;
    justify-content: left;
    flex-direction: row;
    align-content: space-between;
    flex-wrap: wrap;
}
.group53576_sup {
    display: flex;
    justify-content: space-between;
    width: 1440px;
    height: 65px;
    /* border: 2px solid #c92071; */
}
.logo {
    width: 253px;
    height: 44px;
    margin-top: 10px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    /* border: 2px solid green; */
}
.vector {
    width: 33px;
    height: 33px;
}
.digital_store {
    color: #c92071;
    font-family: "Roboto", sans-serif;
    font-size: 36.4px;
    font-weight: bold;
}
.group53574 {
    width: 570px;
    height: 60px;
    display: flex;
    justify-content: space-around;
    align-content: center;
    background-color: #f5f5f5;
    border-radius: 8px;
    position: relative;
    margin-left: 30px;
}
.group53546 {
    width: 500px;
    height: 60px;
    letter-spacing: 2px;
    border-radius: 8px;
    border: none;
    background-color: transparent;
    padding: 30px;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
}
.group53546 input::placeholder {
    position: absolute;
    left: 0;
    color: #999;
}
.retangle1 {
    /* width: 559px; */
    height: 60px;
    border-radius: 8px;
}
.search {
    max-width: 40px;
    max-height: 40px;
    margin-top: 10px;
    /* aqui O SEARCH */
}
.group_53579_box {
    width: 102px;
    height: 28px;
    /* border: limegreen; */
    margin-top: 25px;
    margin-left: 50px;
}
.group_53579 {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: #474747;
}
.btn_entrar_box {
    background-color: #c92071;
    width: 114px;
    height: 40px;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-content: center;
    margin-top: 10px;
    margin-left: 20px;
}
.btn_entrar {
    font-family: "Roboto", sans-serif;
    font-weight: bold;
    font-size: 14px;
    color: white;
    background-color: transparent;
}
.group53576_inf {
    width: 993px;
    height: 64px;
    display: flex;
    flex-direction: column-reverse;
    /* border: 1px solid blue; */
}
.group_53575 {
    width: 423px;
    height: 29px;
    display: flex;
    justify-content: space-between;
    list-style: none;
    font-family: "Roboto", sans-serif;
    margin-top: 60px;
}
.menu_top_home {
    text-decoration: none;
    font-weight: bold;
    color: #c92071;
}
.menu_top {
    text-decoration: none;
    color: #474747;
}
.shopping_car_box {
    margin-left: 80px;
    position: relative;
    display: inline-block;
    margin-top: 10px;
}
.shopping_car {
    position: absolute;
    width: 40px;
}
/* SEGUNDA ETAPA DO HEADER */
.rectangle7 {
    width: 1440px;
    height: 681px;
    margin-top: 2px;
    background-color: #f5f5f5;
    display: flex;
}
.produto_descricao_container {
    width: 1303px;
    height: 352px;
    display: block;
    border: red;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: space-between;
    margin-left: 100px;
    margin-top: 126px;
}
.melhores_ofertas {
    font-family: "Roboto", sans-serif;
    font-weight: bold;
    color: #F6AA1C;
    font-size: 16px;
}
.queima_ {
    font-family: "Roboto", sans-serif;
    font-size: 64px;
    font-weight: bold;
    line-height: 60px;
}
.produto_descricao_c p {
    font-family: "Roboto", sans-serif;
    color: #474747;
    font-size: 18px;
    white-space: nowrap;
    line-height: 35px;
}
.btn_ver_ofertas {
    width: 220px;
    height: 48px;
    background-color: #c92071;
    color: white;
    font-size: 16px;
    font-weight: bold;
    border-radius: 8px;
}
.produto_item_container {
    margin-right: 250px;
}
.produto_item {
    transform: rotate(-19.1rad);
}
.colecao_em_left {
    font-family: "Roboto", sans-serif;
    font-size: 24px;
    font-weight: bold;
    color: #474747;
    margin-top: 55px;
    margin-bottom: 30px;
    margin-left: 100px;
}
.promo_layout_container {
    width: 1300px;
    height: 251px;
    margin-left: 100px;
    display: flex;
    justify-content: space-between;
}
.card_promo_layout {
    width: 405px;
    height: 251px;
    padding: 10px;
    border-radius: 8px;
    background-color: #D8E3F2;
    /* bizu - esse elemento permite que não seja visualizado nada que utrapasse a borda*/
    overflow: hidden;
    position: relative;
}
.promo_off {
    width: 96px;
    height: 32px;
    border-radius: 29px;
    background-color: #E7FF86;
    gap: 10px;
    font-family: "Roboto", sans-serif;
    font-size: 18px;
    margin-top: 20px;
    margin-left: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.novo_drop {
    font-family: "Roboto", sans-serif;
    font-size: 32px;
    margin-top: 20px;
    margin-left: 20px;
    font-weight: bold;
}
.btn_comprar {
    width: 153px;
    height: 48px;
    background-color: #F5F5F5;
    border-radius: 8px;
    margin-top: 20px;
    margin-left: 20px;
    color: red;
    font-size: 16px;
    font-weight: bold;
    /* bizu - esse elemento permite que o botão fique a frente da camiseta*/
    position: relative;  
    z-index: 1;   
}
.imagem_promo1 {
    max-width: 450px;
    max-height: 350px;
    margin-top: -160px;
    margin-left: 180px;
    object-fit: cover;
    transform: rotate(-19.2rad);
}
.imagem_promo2 {
    max-width: 300px;
    max-height: 300px;
    margin-top: -160px;
    margin-left: 180px;
    object-fit: cover;
    transform: rotate(1.5rad);
    transform: scaleX(-1);
}
.imagem_promo3 {
    max-width: 350px;
    max-height: 330px;
    margin-top: -220px;
    margin-left: 200px;
    object-fit: cover;
    transform: rotate(0.5rad);
}
.colecao_em_mid_container {
    width: 1440px;
    text-align: center;
    margin-top: 120px;
}
.colecao_em_mid {
    font-family: "Roboto", sans-serif;
    font-size: 24px;
    font-weight: bold;
    color: #474747;
    margin-top: 55px;
    margin-bottom: 30px;
} 
.list_vetor_container {
    width: 712px;
    height: 138px;
    margin-left: 364px;
    border: #c92071;
    display: flex;
    justify-content: space-between;
    margin-left: 364px;
}
.card_list1 {
    width: 104px;
    height: 138px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.vetor_circle {
    width: 104px;
    height: 104px;
    border-radius: 50%;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
.vetor_tshirt {
    width: 64px;
    height: 64px;
}
.link_list {
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    color: #474747;
    font-weight: bold;
}
.produtos_em_alta_container {
    width: 1240px;
    height: 38px;
    margin-top: 100px;
    margin-left: 100px;
    display: flex;
    justify-content: space-between;
}
.produtos_em_alta {
    font-family: "Roboto", sans-serif;
    font-size: 24px;
    font-weight: bold;
    color: #474747;
    margin-right: auto;
    text-wrap: nowrap;
}
.produtos_em_ver {
    font-family: "Roboto", sans-serif;
    font-size: 18px;
    color: #c92071;
    margin-left: auto;
    text-wrap: nowrap;
}
.produtos_grid_container {
    width: 1300px;
    height: 900px;
    margin-top: 40px;
    margin-left: 100px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-content: space-between;
}
.card_produto_box {
    width: 292px;
    height: 439px;
    /* background-color: blueviolet; */
    display: block;
}
.card_produto_box_white {
    width: 292px;
    height: 321px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
.img_produto_box {
    margin-top: 40px;
}
.img_produto {
    width: 248px;
    height: 134px;
    transform: rotate(-0.5rad);   
}
.card_produto_box_descricao {
    width: 292px;
    height: 118px;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
}
.card_produto_box_cont_name {
    font-family: "Roboto", sans-serif;
    font-size: 12px;
    font-weight: bold;
    color: #474747;
}
.card_produto_box_cont_modelo {
    font-family: "Roboto", sans-serif;
    font-size: 24px;
    font-weight: 400;
}
.card_produto_box_cont_valor {
    width: auto;
    height: 38px;
    display: flex;
}
.card_produto_box_cont_valor_real {
    font-family: "Roboto", sans-serif;
    font-size: 24px;
    font-weight: bold;
    color: #474747;
    text-decoration: line-through;
}
.card_produto_box_cont_valor_desc {
    font-family: "Roboto", sans-serif;
    font-size: 24px;
    font-weight: bold;
    margin-left: 20px;
}
.oferta_especial_container {
    width: 1440px;
    height: 553px;
    background-color: white;
    margin-top: 150px;
    display: flex;
    justify-content: space-evenly;
}
.oferta_esp_degrade {
    width: 466px;
    height: 466px;
    margin-top: 85px;
    margin-left: 129px;
    border-radius: 50%;
    background: linear-gradient(180deg, rgba(68, 0, 255, 0.123) 0%, rgba(255,255,255,1) 100%);
    position: absolute;
}
.oferta_esp_tenis {
    width: 573px;
    height: 330px;
    margin-top: 120px;
    margin-left: 52px;
    position: relative;
}
.oferta_especial_text {
    width: 589px;
    height: 341px;
    margin-top: 115px;
    font-family: "Roboto", sans-serif;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}
.oferta_especial_oferta {
    font-size: 14px;
    color: #c92071;
    font-weight: bold;
}
.oferta_especial_air {
    font-size: 48px;
    color: #474747;
    font-weight: bold;
    text-wrap: nowrap;
}
.oferta_especial_lorem {
    font-size: 16px;
    color: #474747;
    font-weight: 400;
    line-height: 30px;
}
.oferta_especial_ver {
    color: white;
    font-weight: bold;
    font-size: 14px;
    width: 200px;
    height: 40px;
    border-radius: 8px;
    background-color: #c92071;
}
.footer_container {
    width: 1440px;
    height: 454px;
    background-color: #1F1F1F;
    font-family: "Roboto", sans-serif;
    color: white;
    display: flex;
    position: absolute;
}
.logo_white_box {
    width: 253px;
    height: 44px;
    margin-left: 104px;
    margin-top: 72px;
    display: flex;
    align-content: center;
    align-items: center;
    position: absolute;
}
.logo_white_log {
    width: 33px;
    height: 33px;
}
.logo_white_digital {
    color: white;
    font-size: 36.5px;
    margin-left: 6px;
    font-weight: bold;
}
.footer_lorem {
    width: 307px;
    height: 78px;
    color: white;
    position: absolute;
    margin-top: 151px;
    margin-left: 104px;
    line-height: 26px;
}
.redes_sociais_container {
    width: 170px;
    height: 40px;
    position: absolute;
    margin-top: 269px;
    margin-left: 104px;
    display: flex;
    justify-content: space-between;
    align-content: center;
    align-items: center;
    background-color: #1F1F1F;
}
.logo_rs {
    width: auto;
    height: 30px;
}
.informacao_container {
    width: 135px;
    height: 280px;
    margin-top: 72px;
    margin-left: 612px;
    position: absolute;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}
.topico_informacao {
    font-size: 18px;
    font-weight: bold;
}
.topico_informacao_box {
    width: 135px;
    height: 228px;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
}
li {
    list-style: none;
}
a {
    text-decoration: none;
    color: white;
}
.categorias_container {
    width: 100px;
    height: 240px;
    margin-top: 72px;
    margin-left: 849px;
    position: absolute;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}
.topico_categorias {
    font-size: 18px;
    font-weight: bold;
}
.topico_categorias_box {
    width: 100px;
    height: 190px;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
}
.contato_container {
    width: 233px;
    height: 168px;
    margin-top: 72px;
    margin-left: 1113px;
    position: absolute;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}
.topico_contato {
    font-size: 18px;
    font-weight: bold;
}
.topico_end {
    font-size: 16px;
}
.topico_tel {
    font-size: 16px;
}